body {
    margin: 0;
    overflow: hidden;
  }
  
  canvas {
    display: block;
    background-color: black;
  }
  
  h1 {
    text-align: center;
    color: white;
  }
  
  p {
    position: absolute;
    margin: 0;
    top: 35px;
    right: 5px;
    color: #aaa;
  }
  